.notificationWrapper {
  width: 200px;
  text-align: center;
  padding: 25px 10px;
  margin-right: 0px;
  background-color: rgb(97, 155, 194);
  color: white;
  position: absolute;
  top: 0;
  right: 50%;
}

.alertText {
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: center;
}
.appear {
  opacity: 0;
  transform: scale(0.1);
  transform: translateX(100%);
}

.appearActive {
  opacity: 1;
  transform: translateX(0);
  transform: scale(1);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
  transform: scale(1);
  transition: all 250ms linear;
}
.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transform: translateX(100%);
}
