.wrapper {
  margin-bottom: 20px;
}
.list {
  display: inline-block;
  align-items: stretch;
}

.listItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 15px;
}
.listItem:hover {
  border: 2px solid grey;
  box-shadow: 1px 1px 10px 1px grey;
}

.contactText {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.deleteButton {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
}
.deleteButton:hover,
.deleteButton:focus {
  border: 2px solid grey;
  background-color: grey;
}
